{% extends "base.html.twig" %}

{% block content %}
	<h2>Add products</h2>
	{{ form_start(form, {'method': 'POST', 'action': path('products.save')}) }}
	{{ form(form) }}
	{{ form_end(form) }}
{% endblock %}